<!-- <div class="profile" ng-show="vm.profile"> -->
  <div class="jumbotron profile__header">
    <h2 class="profile__username">{{ vm.retailPartners[0].city }}</h2>
    <!-- <p class="profile__tagline">+{{ vm.retailPartners[0].city }}</p> -->
  </div>
  <div class="row row-content">
      <div class="col-xs-12 col-md-offset-1 col-md-8" id="my_contribution_last_week">Placeholder for chart</div> 
      <div class="col-xs-12 col-md-2" id="city_rp_count">
        <div class="row">
          <div class="col-sm-12">
            <div class="well">
                <div class="well__header">
                    Retail Partners in City
                </div>
                <hr>
                <div>
                    <center>
                        <h1 class="well__content">{{vm.retailPartners.length}}</h1>
                    </center>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row row-content">
      <div class="col-xs-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped">
            	<thead>
            		<tr>
                        <th class="col-md-2">
                        	<a href="#" ng-click="sortType = 'contact_name'; sortReverse = !sortReverse">Contact Name
                        	<span ng-show="sortType == 'contact_name' && !sortReverse" class="fa fa-caret-down"></span>
    			            <span ng-show="sortType == 'contact_name' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th class="col-md-2">
                        	<a href="#" ng-click="sortType = 'business_name'; sortReverse = !sortReverse">Business Name
                        	<span ng-show="sortType == 'business_name' && !sortReverse" class="fa fa-caret-down"></span>
    			            <span ng-show="sortType == 'business_name' && sortReverse" class="fa fa-caret-up"></span></a>
                    	</th>
                        <th class="col-md-2">
                            <a href="#" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">Date Added
                            <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th class="col-md-2">
                            <a href="#" ng-click="sortType = 'city'; sortReverse = !sortReverse">City
                            <span ng-show="sortType == 'city' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'city' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th class="col-md-2">
                            <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">Status
                            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span></a></th>
                	</tr>	
            	</thead>
                <tr ng-repeat="retail_partner in vm.retailPartners | orderBy:sortType:sortReverse| filter:searchPartner" ng-click="vm.openProfile(retail_partner.id);">
                    <th class="col-md-2">{{retail_partner.contact_name}}</th>
                    <td class="col-md-2">{{retail_partner.business_name}}</td>
                    <td class="col-md-2">{{retail_partner.created_at  | date:'dd-MM-yyyy'}}</td>
                    <td class="col-md-2">{{retail_partner.city}}</td>
                    <td class="col-md-2">{{retail_partner.status===2 ? "Active" : "Inactive"}}</td>

                </tr>
            </table>
        </div>
      </div>
  </div>
</div>